# config
.eslintrc.json
.prettierrc
next.config.js
tsconfig.json

# build dir
build/
bin/
obj/
out/
.next/

package-lock.json

# Storybook
*.stories.ts
*.stories.tsx

# CSSファイル
*.css

# mdxファイル
*.mdx

# すべての画像ファイルを除外する
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.ico